body {
    background-color: #0a0a23;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
    background-color: crimson;
    color: peachpuff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: mediumvioletred;
}
/* Задний фон для всего сайта */
body {
    background-image: url('https://i.pinimg.com/originals/9f/40/a7/9f40a7e9e5114507808e9a3982d4f0f2.jpg'); /* Укажи путь к изображению */
    background-size: cover; /* Чтобы изображение растягивалось на весь экран */
    background-position: center center; /* Центрирование фона */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(255, 247, 242); /* Цвет текста, чтобы он был виден на фоне */
  }
  /* Декорирующие изображения по бокам */
.side-img {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: -1; /* Чтобы изображения не закрывали контент */
  }
  
  .side-img.left {
    left: 0;
    width: 150px;
    background-size: cover;
  }
  
  .side-img.right {
    right: 0;
    width: 150px;
    background-size: cover;
  }